/*
Historia de Usuario #13: La barra de navegación debe estar siempre en la parte superior del viewport.
Historia de Usuario #14: Mi página de aterrizaje de producto debería tener al menos una media query.
Historia de Usuario #15: Mi página de aterrizaje de producto debería utilizar CSS flexbox al menos una vez.
*/
*{
margin: 0;
}
body
{
    background-color: #D0D0D0;
}

#header-img
{
    float:left;
}
#nav-bar
{
    float: right;
    width:100%;
    text-align: center;
    background-color: black;
}
li
{
    list-style: none;
    display: inline-block;
    width: 15%;
    
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    
  }
a:hover
{
    background-color: crimson;
}
iframe
{
    padding-top: 100px;
    align-items: center;
}
