/*
Historia de Usuario #13: La barra de navegación debe estar siempre en la parte superior del viewport.
Historia de Usuario #14: Mi página de aterrizaje de producto debería tener al menos una media query.
Historia de Usuario #15: Mi página de aterrizaje de producto debería utilizar CSS flexbox al menos una vez.
*/
#header-img
{
    float:left;
}
#nav-bar
{
    float: left;
    position: relative;
    width: 80%;
    overflow: auto;
    text-align: center;
}
li
{
    list-style: none;
    display: inline-block;
    width: 16%;
    transform-style: block;
}
#nav-bar a
{
    float: left;
    color: red;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    width: 16%;
}